head {
  font-size: 100px;
  text-align: center;
 }
 
 body {
  margin: 200;
  background-color: grey;
 }
 
 img { 
      height: 30px;
      width: 30px;
      padding: 40px 30px 30px 40px;
      /* text-align: center; */
 }         
 
 .BK { background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3c/Kiyomizu.jpg");
 }
 
 
 .navigation-links {
  margin: 100;
  display: flex;
  justify-content:flex-end;
  list-style-type: none;
  color: black;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1px 20px;
  box-sizing: inherit;
 }
 
 /* .navigation-link {
  text-decoration: none;
  color: black;
  font-family: serif;
  font-size: 15px;
 } */
 
 .navigation {
  background: white;
  letter-spacing: 2px;
  line-height: 1.5;
  /* padding: 1rem; */
  }     
 
  .footer {
    position:relative;
    font-size: 10px;
    text-align:right;
    /* background: black; */
    padding: 1rem;
}

 div {
  padding: 1px 1px 1px 15px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.copyright {
  color: white;
  position:relative;
  /* text-align:right; */
}

.call {
  /* padding: 1rem; */
  color: green;
  text-align: center;
  /* background-color: pink; */
}