:root {
  --mainColor: gray;
  --subColor: white;

  --borderColor: gray;

  --mainText: black;
  --subText: gray;

  --themeDotBorder: black;

  --previewBG: white;
  --previewShadow: rgba(110, 147, 92, 0.721);
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--mainColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Russo One", sans-serif;
  font-weight: 500;
  color: var(--mainText);
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

a,
p,
li{
  font-family: "Roboto Mono", monospace;
  color: purple;
}

.hello {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.intro {
  background-color: var(--subColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  box-shadow: -1px 1px 3px -1px black;
  -webkit-box-shadow: -1px 1px 3px -1px black;
  -moz-box-shadow: -1px 1px 3px -1px black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nav nav"
    "left-side right-side";
}

.nav {
  grid-area: nav;
  border-bottom: 1px solid var(--borderColor);
}

.navlist {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding-right: 35px;
}

.left-side {
  grid-area: left-side;
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile-pic {
  display: block;
  margin: 0 auto;
  height: 275px;
  width: 275px;
  object-fit: cover;
  border-bottom: 2px solid var(--borderColor);
}

#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-switch {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);
  -webkit-box-shadow: -1px 1px 3px -1px black;
  -moz-box-shadow: -1px 1px 3px -1px black;
  box-shadow: -1px 1px 3px -1px black;
  cursor: pointer;
}

.theme-switch:hover {
  border-width: 5px;
}

#light-mode {
  background-color: white;
}

#dark-mode {
  background-color: black;
}

.right-side {
  grid-area: right-side;
  display: grid;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 80px;
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 250px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  height: 250px;
  padding: 15px;
  border: 1.5px solid rgb(90, 90, 251);
  background-color: var(--previewBG);
  position: relative;
}

.corner {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1.5px solid blue;
  background-color: white;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

a {
  text-decoration: none;
  color: blue;
}

.main-container {
  margin: 0 auto;
  width: 1200px;
}

.Biography {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-bottom: 30px;
  padding-top: 30px;
}

.technicalskills {
  display: flex;
  justify-content: space-evenly;
  background-color: white
  /* background-color: var(--previewShadow); */
}

.experienceandeducation {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}

header,
.tech,
.photos {
  overflow: auto;
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
}

.About,
.Biography {
  background-color: var(--subColor);
}

img {
  max-width: 100%;
  height: auto;
}

.project-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;
  padding-bottom: 50px;
  gap: 20px;
}

.project {
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: -1px 1px 3px -1px black;
  -moz-box-shadow: -1px 1px 3px -1px black;
  box-shadow: -1px 1px 3px -1px black;
}

.thumbup {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
}

.project-preview {
  background-color: white;
  padding: 10px;
  height: 100%;
}

.project-title,
.project-description {
  color: black;
  margin: 0;
}