:root {
  --mainColor: gray;
  --subColor: white;

  --borderColor: gray;

  --mainText: black;
  --subText: gray;

  --themeDotBorder: black;

  --previewBG: white;
  --previewShadow: rgba(110, 147, 92, 0.721);
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--mainColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Russo One", sans-serif;
  font-weight: 500;
  color: var(--mainText);
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}